/* tagForm */
/* favtags, setTag */

.tagForm {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.favtags {
  background-color: white;
  border: 1px solid gainsboro;
  padding: 8px;
  margin-bottom: 4px;
}

.favtag {
  background-color: white;
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 4px 4px;
  border: 1px solid gainsboro;
}

.favtag input:checked + .favtag {
  background-color: #ffd993;
}
.favtag:hover {
  background-color: #ffd993;
}

.favtag input {
  display: none;
}

.setTag {
  height: 60px;
  position: relative;
}

.setTagBtn {
  position: absolute;
  right: 0;

  margin-right: auto;
}

.container {
  /* width: 80%; */
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
}
