/* container */
/* comments */

.result_container,
.comments_container {
  margin: 0 10% 40px 10%;
  padding: 40px;
  border: 1px solid gainsboro;
}
.comment_invisible {
  font-weight: 700;
}
.comments {
  background-color: white;
  border: 1px solid gainsboro;
  padding: 0 4px;
  /* padding-top: 8px; */
}

.commentForm {
  border-bottom: 1px solid gainsboro;
  text-align: right;

  /* padding-bottom: 6px; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

.textarea {
  padding: 8px;
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 4px;
  resize: none;
  margin-bottom: 0;
}

.submitBtn {
  margin-top: 0;
  margin-bottom: 12px;
  display: inline;
  color: white;
  background-color: #0066ff;
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
}

@media screen and (max-width: 576px) {
  .comments_container {
    margin: 16px;
    padding: 16px 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  .result_container {
    margin: 16px;
    padding: 16px 0;
    border: none;
    border-top: 1px solid gainsboro;
  }
}
