.formContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formContents h1 {
  padding: 20px 0;
}

.formContents p {
  font-size: 18px;
}

.formContents form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.passwordChangeInputs {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.passwordChange input {
  width: 360px;
  height: 40px;
  margin: 5px 0;
  padding-left: 10px;
  font-size: 14px;
}

.passwordChange {
  display: flex;
  align-items: center;
}

.passwordChange label {
  width: 140px;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;
  text-align: center;
}

.errorMessage {
  color: #ff4949;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
}

.changePasswordBtn {
  margin-top: 20px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: #0066ff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.changePasswordBtn:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 1px;
  color: gainsboro;
}
