/* .post */
/* .upper, .detail, lower */

/* post */
.post {
  margin: 8px auto;
  width: 95%;
  height: 95%;
  background-color: #ffffff;
  /* margin: 8px; */
  border-radius: 4px;
  position: relative;
}
.post:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.post:hover {
  box-shadow: 1px 5px 5px 1px gainsboro;
  cursor: pointer;
}

.dummy {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4px;
}

/* upper */
.upper {
  padding: 4px 4px 0 4px;
  display: flex;
  align-items: center;
  height: 15%;
}

.upper .profilePic {
  width: 15%;
  height: 100%;
  border: 1px solid gainsboro;
  border-radius: 50%;
  margin-right: 4px;
}

.upper .author {
  width: 45%;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: hidden;
  text-align: start;
}
.upper .date {
  width: 30%;
  margin-left: auto;
  font-size: 8px;
  font-weight: 400;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* detail */
.detail {
  padding: 8px 8px 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.detail .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  text-align: start;
  height: 30%;
}

.thumbnailBox {
  border: 1px solid gainsboro;
  height: 75%;
  overflow: hidden;
}

.thumbnail {
  height: 100%;
  width: auto;
}

/* lower */
.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  padding: 0 8px;
}

.lower .tags {
  display: inline-block;
  text-align: start;
  width: 70%;
  /* border: 1px solid red; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: hidden;
}

.tag {
  display: inline;
  margin-right: 4px;
  color: gray;
  font-size: 14px;
}

.commentIcon {
  width: 16px;
  height: auto;
  margin-right: 4px;
  color: lightslategray;
}

.deletePost {
  width: 10%;
  margin-left: 4px;
  font-size: 8px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* media query */
@media screen and (max-width: 576px) {
  .upper,
  .lower {
    padding: 0 8px;
  }
  .upper .profilePic {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .upper .author {
    font-size: 16px;
  }
  .upper .date,
  .upper .deletePost {
    text-align: end;
    font-size: 12px;
  }

  .detail .title {
    font-size: 20px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
  }
}
