/* board_banner */
/* board_name */

/* board_banner */
.board_banner {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}

/* board_name */
.board_name {
  display: flex;
  align-items: center;
  margin: 16px 16px 16px 0;
}

.board_name .goback_icon {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}
.goback_icon path {
  color: lightslategray;
}

.board_name h2 {
  background-color: white;
  padding: 8px 64px;
  border-radius: 50px;
}

Link {
  margin-left: auto;
}

.newPost {
  padding: 4px 8px;
  background-color: #0066ff;
  color: white;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

/* ///////////////////////////// 나중에 ///////////////////////////////// */

@media screen and (max-width: 768px) {
  .board_banner {
    height: 64px;
  }

  .board_name .goback_icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .board_name h2 {
    background-color: white;
    padding: 4px 32px;
    font-size: 16px;
  }
}
