.slide {
  background-color: var(--content-bg-color);
  text-align: center;
  width: 60%;
  height: 500px;
  border: 1px solid gainsboro;
  /* z-index: -1 !important; */
}

.oneSlide {
  width: 100%;
  height: 90%;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.board_title {
  font-size: 32px;
  text-align: center;
  font-style: italic;
  color: #0066ff;
  height: 20%;
}

.onePost {
  width: 40%;
  margin: 0 auto;
  border: 1px solid gainsboro;
}

.onePostEmpty {
  width: 40%;
  margin: 0 auto;
}

.notLogined_favtag {
  width: 50%;
  margin: 0 auto;
}
.notLogined_favtag p {
  color: gray;
}

.no_post {
  width: 60%;
  height: auto;
  vertical-align: middle;
}

.favtag_board {
  margin-top: 16px;
  width: 90%;
  height: auto;
}

Link {
  width: 100%;
  height: 100%;
}

Link p {
  min-height: 100%;
}

@media screen and (max-width: 576px) {
  .slide {
    width: 95%;
  }
  .onePost {
    width: 70%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .slide {
    width: 95%;
  }
  .onePost {
    width: 50%;
  }
}
