.qna {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.qnaContents {
  width: 500px;
  height: 300px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #585858;
}

.qnaTitle {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
}

.xBtn {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.qnaContents hr {
  opacity: 0.5;
}

.qnaInstruction {
  padding: 30px;
  text-align: center;
}
