.SubmitBtn {
  position: fixed;
  right: 100px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  padding: 25px;
  border: 1px solid gainsboro;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.SubmitBtn:hover {
  background-color: gainsboro;
  transition: 0.2s;
}

.SubmitBtn:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  bottom: 28px;
  color: gainsboro;
}

.transparentBtn {
  background: transparent;
  border: 0px;
  padding: 0;
  outline: 0;
}

.writingForm {
  display: flex;
  margin-top: 122px;
  justify-content: center;
}

.writingForm path {
  color: lightslategray;
}

.gobackIcon {
  width: 30px;
  height: 30px;
  margin-right: 16px;
  cursor: pointer;
}

.writingFormContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 1000px;
  height: 100%;
  border: 1px solid gainsboro;
  padding: 30px;
  margin-bottom: 30px;
}

.writingFormContents path {
  color: #0066ff;
}

.writingInput {
  display: flex;
  flex-direction: column;
}

.writingInput h4,
input {
  margin-bottom: 10px;
}

.writingTitle {
  width: 900px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}

.favtag {
  background-color: white;
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 4px 4px;
  border: 1px solid gainsboro;
}

.favtags {
  padding: 18px;
  margin-bottom: 4px;
}

.favtag input {
  display: none;
}

.writingDetail {
  width: 900px;
  height: 250px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
}

.writingChoices {
  display: flex;
  width: 900px;
  flex-direction: column;
}

.refMessage {
  font-size: 14px;
  font-weight: 400;
  color: #0066ff;
}

.createChoices {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.createChoices button {
  width: 100px;
  height: 40px;
  color: #0066ff;
  background-color: white;
  border: 2px solid #0066ff;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}

.createChoices button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 1px;
  color: #0058db;
}

.createChoicesInput {
  display: flex;
  align-items: center;
}

.createChoicesInput input {
  margin-bottom: 0;
}

.choiceInputText {
  width: 600px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}

.addChoiceImage {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.fileBtn {
  display: none;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 100%;
  justify-content: space-between;
}

.successMessage {
  font-size: 16px;
  font-weight: bold;
  color: #ff4949;
  padding-right: 20px;
}
