@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Sans+KR&display=swap");

:root {
  --text-color: black;
  --icon-color: lightslategray;
  --background-color: #e3effd;
  --content-bg-color: white;
  --accent-color: #0066ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  color: var(--text-color);
  font-family: "IBM Plex Sans KR", sans-serif;
}

.hidden {
  display: none !important;
}

ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

body {
  background-color: var(--background-color);
}

button {
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding: 4px 8px;
  color: white;
  margin: 4px;
  background-color: #0066ff;
}
