/* banner */
/* barIcon, sidebar(content), logo, profile */

/* banner */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  height: 60px;
}

/* barIcon */
.barIcon {
  width: 25%;
  display: flex;
  align-items: center;
}

.barIcon_inner {
  width: 30px;
  height: 30px;
}

.barIcon path {
  color: var(--icon-color);
}

/* logo */
.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo h1 {
  font-size: 40px;
  font-weight: 700;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  border-radius: 30%;
}

/* sidebar */
.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--content-bg-color);
  /* transition: 0.8s ease; */
  position: fixed;
  z-index: 2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

/* content */
.sidebar.content {
  background-color: var(--content-bg-color);
  margin: 0;
  position: relative;
  top: -16px;
  left: -16px;
}

.content li {
  margin: 0;
}

/* upperContent */
.upperContent {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  /* align-items: center; //// */
}

.upperContent path {
  color: var(--accent-color);
}

.upperContent img {
  width: 80px;
  height: 80px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
}

/* lowerContent */
.lowerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */
  padding: 0 32px;
}

.lowerContent li {
  margin: 0;
}

.lowerContent button {
  color: var(--accent-color);
  margin: 8px 0;
  background-color: var(--content-bg-color);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  width: 100%;
  padding: 6px;
}

hr {
  margin: 8px 0;
}

/* profile1 */
.profile1 {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile1 .login,
.profile1 .signup {
  border-radius: 4px;
  color: var(--icon-color);
  font-size: 16px;
  padding: 8px 16px;
}

.profile1 .login {
  margin-right: 8px;
}

.profile1 .signup {
  color: #e6e6e6;
  background-color: var(--accent-color);
}

/* profile2 */
.profile2 {
  width: 25%;
  justify-content: end;
  align-items: center;
  position: relative;
  display: flex;
}

.profile2 button {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  border: 1px solid gainsboro;
}

.profile2 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 4px;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown li {
  padding: 4px;
}

.dropdown Link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown .logoutBtn {
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 0;
  font-size: 16px;
  border: none;
  margin: 0;
  cursor: pointer;
}

/* ///////////////////////////// 나중에 ///////////////////////////////// */

@media screen and (min-width: 577px) and (max-width: 768px) {
  .logo h1 {
    font-size: 32px;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  .barIcon_inner {
    width: 20px;
    height: 20px;
  }

  .signup {
    display: none;
  }
  .profile2 button,
  .profile2 img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 576px) {
  .profile1,
  .profile2,
  .barIcon {
    width: 18%;
  }

  .logo h1 {
    font-size: 24px;
  }
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 2px;
  }

  .barIcon_inner {
    width: 20px;
    height: 20px;
  }
  .signup {
    display: none;
  }
  .profile1 .login {
    font-size: 14px;
    margin-right: 0;
    padding-right: 0;
    cursor: pointer;
  }
  .profile1 {
    justify-content: end;
  }

  .profile2 button,
  .profile2 img {
    width: 30px;
    height: 30px;
  }
}
